In [1]:
s="This is a basic python class"

In [2]:
len(s)

28

In [5]:
count=0
for i in s:
    count=count+1 #count+=1
print(count)

28

In [6]:
s[::-1]

'ssalc nohtyp cisab a si sihT'

In [14]:
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

27 s
26 s
25 a
24 l
23 c
22
21 n
20 o
19 h
18 t
17 y
16 p
15
14 c
13 i
12 s
11 a
10 b
9
8 a
7
6 s
5 i
4
3 s
2 i
1 h
0 T

In [15]:
for i in range(len(s)-1,-1,-1):
    print(s[i],end="")

ssalc nohtyp cisab a si sihT

In [17]:
i=len(s)-1
while i>=0:
    print(s[i],end="")
    i=i-1

ssalc nohtyp cisab a si sihT

In [18]:
s="ineuron"
v="AaEeIiOoUu"
for i in s:
    for j in v:
        if i==j:
            print(i)

i
e
u
o

In [20]:
for i in s:
    if i in v:
        print('vowel:',i)
    else:
        print('Not vowel:',i)

vowel: i
Not vowel: n
vowel: e
vowel: u
Not vowel: r
vowel: o
Not vowel: n

In [26]:
"s" in "arshad"

True

In [22]:
k="arshad"

In [25]:
'd' in k

True

In [29]:
a="my name is arshad"
for i in range(len(a)-1,-1,-1):
    print(a[i],end="")

dahsra si eman ym

In [30]:
i=len(a)-1
while i>=0:
    print(a[i],end="")
    i=i-1

dahsra si eman ym

In [31]:
"tnent"
"malayalam"
"eye"

'eye'

In [40]:
h="eye"
for i in h:
        if i==i[::-1]:
            print('Palindorme')
        else:
            print('Not a palindrome')

Palindorme
Palindorme
Palindorme

In [41]:
h="eye"
for i in h:
    if j in h[::-1]:
        print('palindrome')
    else:
        print('not a palindrome')

palindrome
palindrome
palindrome

In [5]:
s=input()
g=s[::-1]
if s==g:
    print('palindrome')
else:
    print("not a palindrome")

eyee
not a palindrome

In [9]:
word=input()
for i in range(len(word)):
    if word[i]!=word[len(word)-i-1]:
        print(word,'not a palindrome')
        break
else:
    print(word,"is a palindrome")

eyeee
eyeee not a palindrome

In [1]:
s=input()
f=""
i=len(s)-1
while(i>=0):
    f=f+s[i]
    i=i-1
if(s==f):
    print('palindrome')
else:
    print('not a palindrome')

eye
palindrome

In [1]:
d={'india':'IN',
  "canada":'CA',
  "china":"CN",
   "united states":"US"
  }

In [3]:
d

{'india': 'IN', 'canada': 'CA', 'china': 'CN', 'united states': 'US'}

In [4]:
"india" in d

True

In [8]:
l1=[]
l2=[]
for i in d:
    if len(i)<=5:
        l1.append(i)
    else:
        l2.append(i)

In [10]:
l2

['canada', 'united states']

In [11]:
l1

['india', 'china']

In [4]:
for i in d:
    print(i)

india
canada
china
united states

In [5]:
len(i)

13

In [2]:
d={'ineuron':{
                    "a":14,
                    "b":10,
                    "c":4
                },
      "course":{
                    "d":45,
                    "e":34,
                    "f":1
               }
  }

In [15]:
for i in d_1:
    print(i)

ineuron
course

In [26]:
for i in d.values:
    print(d.values)

TypeError: 'builtin_function_or_method' object is not iterable

In [28]:
d.values()

dict_values([{'a': 14, 'b': 10, 'c': 4}, {'d': 45, 'e': 34, 'f': 1}])

In [29]:
d.items()

dict_items([('ineuron', {'a': 14, 'b': 10, 'c': 4}), ('course', {'d': 45, 'e': 34, 'f': 1})])

In [32]:
M1=[]
for i in d.values():
    for j in i.values():
        M1.append(j)
    print(max(M1))

14
45

In [4]:
for i in d.values():
        print(max(i.values()))

14
45

In [8]:
for i in d.values():
    mx=0
    for j in i.values():
        if mx<j:
            mx=j
    print(mx)

14
45

In [10]:
for i in d.keys():
    print(i)
    print(max(d[i].values()))

ineuron
14
course
45

In [11]:
d

{'ineuron': {'a': 14, 'b': 10, 'c': 4}, 'course': {'d': 45, 'e': 34, 'f': 1}}

In [17]:
d={'ineuron':{
                    "a":14,
                    "b":10,
                    "c":4
                },
      "course":{
                    "d":45,
                    "e":34,
                    "f":1
               },"g":34,"h":[54,6,7,8,9,3],"i":(45,34,2),"k":"arshad"
  }

In [18]:
d

{'ineuron': {'a': 14, 'b': 10, 'c': 4},
 'course': {'d': 45, 'e': 34, 'f': 1},
 'g': 34,
 'h': [54, 6, 7, 8, 9, 3],
 'i': (45, 34, 2),
 'k': 'arshad'}

In [27]:
M=[]
for i in d.values():
    for j in i.values():
        if type(i)==int:
            M.append(max(i.values()))
            print(max(M))

AttributeError: 'int' object has no attribute 'values'

In [30]:
l1=[]
for i in d.values():
    if type(i)==dict:
        l1.append(max(i.values()))
    elif type(i)==list:
        l1.append(max(i))
    elif type(i)==tuple:
        l1.append(max(i))
    elif type(i)==str:
        pass
    else:
        l1.append(i)
print(max(l1))

54

In [32]:
l=[]
for i in d.values():
    if type(i)!=str and type(i)!=complex:
        if type(i)==list or type(i)==tuple or type(i)==set:
            l.extend(list(i))
        elif type(i)==dict:
            for j in i.values():
                l.append(j)
print(max(l))

54

# functions

In [1]:
len("arshad")

6

In [2]:
print('ayub')

ayub

In [3]:
def test():
    pass

In [1]:
def test1():
    print("this is my first function")

In [2]:
test1()

this is my first function

In [3]:
a=test1()

this is my first function

In [4]:
a

In [5]:
a+"arsh"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [6]:
"a"+"arshad"

'aarshad'

In [7]:
type(test1())

this is my first function

NoneType

In [8]:
a=test1()

this is my first function

In [9]:
str(a)

'None'

In [10]:
def test2():
    return "this is my first function"

In [11]:
type(test2())

str

In [12]:
test2()+"ayub"

'this is my first functionayub'

In [13]:
def test3():
    return 12345

In [14]:
type(test3())

int

In [2]:
def test4():
    return 4,4,3,'arsh',[1,2,3,4]

In [17]:
test4()

(4, 4, 3, 'arsh', [1, 2, 3, 4])

In [18]:
type(test4())

tuple

In [19]:
b=test4()

In [20]:
b

(4, 4, 3, 'arsh', [1, 2, 3, 4])

In [21]:
b[1]

4

In [22]:
b[0:3:2]

(4, 3)

In [23]:
b[4][2]

3

In [24]:
a=1
b=5
c="arshad"
d=[1,2,3,4,5]

In [25]:
a,b,c,d=43,56,'ayub',[5,6,7]

In [4]:
test4()

(4, 4, 3, 'arsh', [1, 2, 3, 4])

In [5]:
x,y,u,v,z=test4()

In [6]:
u

3

In [7]:
z

[1, 2, 3, 4]

In [8]:
def test5():
    a=6*7/6
    return a

In [9]:
test5()

7.0

In [22]:
l=[3,4,5,6,7,8,"arshad",[1,7,11,9,7]]

In [11]:
l

[3, 4, 5, 6, 7, 8, 'arshad', [3, 7, 4, 9, 7]]

In [25]:
def test6(a):
    n=[]
    if type(a)==list:
        for i in a:
            if type(i)==int:
                n.append(i)
            elif type(i)==list:
                for j in i:
                    n.append(j)
            
    return n

In [26]:
test6(l)

[3, 4, 5, 6, 7, 8, 1, 7, 11, 9, 7]

In [20]:
test6(5)

[]

In [21]:
type(test6(l))

list

In [27]:
def test7(b):
    m=[]
    if type(b)==dict:
        for i in b:
            m.append(i)
    return m

In [28]:
test7({"a":"arshad","b":"ayub","key3":"yooo"})

['a', 'b', 'key3']

In [30]:
def test8(c):
    if type(c)==dict:
        return c.keys()
    else:
        return "You have not entered a dict"

In [31]:
test8((6,7,8))

'You have not entered a dict'

In [32]:
test8({"arsh":"arshad","ay":"ayub"})

dict_keys(['arsh', 'ay'])

In [45]:
def test9(a,b):
    if type(a)==list and type(b)==list:
        a.extend(b)
        return a
    else:
        return "You have not entered proper values"

In [35]:
test9(123,456)

'You have not entered proper values'

In [37]:
n=test9([1,2,3],[4,5,6])

In [38]:
n

In [43]:
c=[1,2,3]
b=[4,5,6]
test9(a,b)

In [40]:
a

[1, 2, 3, 4, 5, 6]

In [41]:
test9([1,2,3],[4,5,6])

In [44]:
a

[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [46]:
test9([1,2,33],[11,51,66])

[1, 2, 33, 11, 51, 66]

In [60]:
def tri(n):
    """This is a function which will help you to print triangle"""
    for i in range(0,n):
        for j in range(0,i+1):
            print("*",end="")
        print('\r')

In [61]:
tri(10)

*
**
***
****
*****
******
*******
********
*********
**********

In [62]:
help(tri)

Help on function tri in module __main__:

tri(n)
    This is a function which will help you to print triangle

In [63]:
#comment

In [64]:
"""this
is
comment"""

'this\nis\ncomment'